<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./app.component.css">
    <title>Egypt</title>
</head>

<body>
    <div id="nav">
        <div class="navrap">
            <div class="menu">
                <div class="menurap">
                    <div class="ba">
                        <p>
                            <span3><i class="fa fa-envelope-o" aria-hidden="true"></i></span3>
                            inquiries@egypt-tours.online
                        </p>
                    </div>
                    <div class="ba">
                        <p><input type="text" value="Select Language" id="t1">
                            <br><span>G</span>
                            <span1>o</span1>
                            <span2>o</span2><span>gl</span>
                            <span1>e</span1> Translate
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ban">
        <div class="banrap">
            <div class="logo">
                <h1> <img src="./1.jpg" id="img1"> Egypt Tours </h1>
            </div>
            <div class="menu1">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="#">Top Destinations<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="./terms.html">Terms and Conditions</a></li>
                    <li><a href="./privacy.html">Privacy Policy</a></li>
                    <li><a href="./refund.html">Refund Policy</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="logo1">
                <h1>Amazing Places</h1>
                <br>
                <br>
                <p>
                    <span4>Make your trip
                        <br>Fun & Noted
                    </span4>
                    <br>
                    <br>
                    <span5>Travel has helped us to understand the meaning of life and it has
                        <br>helped us become better people.Each time we travel,we see the
                        <br>world with new eyes.
                    </span5>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br><input type="button" value="Destinations" id="t2">
                </p>
            </div>
        </div>
    </div>
    <div class="mid">
        <div class="b1">
            <h1>About Egypt</h1>
            <p>Egypt is home to some of the oldest and notable examples of human society and civilisation. Egyptian
                exhibits can be seen in museums all over the
                <br> world, but they are nothing compared to the spellbinding beauty of watching the Giza Pyramid
                Complex up close, or the tomb of King Tutankhamen in person. We've
                <br> highlighted some which we feel are a must visit when you travel to Egypt.
            </p>
        </div>
        <div class="midrap">
            <div class="box">
                <p>
                    <span6><i class="fa fa-thumbs-up" aria-hidden="true"></i></span6> The Ancient Trail
                </p>
            </div>
            <div class="box">
                <p>
                    <span6><i class="fa fa-thumbs-up" aria-hidden="true"></i></span6> Maze Like Souks
                </p>
            </div>
            <div class="box">
                <p>
                    <span6><i class="fa fa-thumbs-up" aria-hidden="true"></i></span6> Religious Sites
                </p>
            </div>
            <div class="box">
                <p>
                    <span6><i class="fa fa-thumbs-up" aria-hidden="true"></i></span6> Nature
                </p>
            </div>
            <div class="box">
                <p>
                    <span6><i class="fa fa-thumbs-up" aria-hidden="true"></i></span6> Museums
                    <br>
                    <br>
                    <br> <input type="button" value="Contact Us" id="t3">
                </p>
            </div>
            <div class="box">
                <p>
                    <span6><i class="fa fa-thumbs-up" aria-hidden="true"></i></span6>Great Pyramids
                </p>
            </div>
        </div>
    </div>
    <div class="mid1">
        <div class="midrap1">
            <div class="box1">
                <img src="./2.jpg" id="img2">
            </div>
            <div class="box1">
                <h1>The Exotic Land of
                    <br> History and Mystery
                </h1>
                <p><br>
                    <br>Egypt tourism package options are extensive since the country is big and full of
                    <br> monuments and things to do.Visiting the leading Egypt tourism attractions will
                    <br> delight those who enjoy ancient archaeological sites, history, stunning nature,
                    <br> and friendly smiles.
                    <br>
                    <br>
                    <br>Your Egypt holidays will be unforgettable because of the country’s unique architecture,
                    <br> exotic destinations, and generous people. Spend some days marveling at the fascinating
                    <br> ancient civilizations, grand temples and great tombs of Egypt’s iconic cities .
                    <br>
                    <br>
                    <br> <input type="button" value="Contact Us" id="t3">
                </p>
            </div>
        </div>
    </div>
    <div class="mid2">
        <div class="midrap2">
            <div class="box2">
                <h1><br><i class="fa fa-calendar" aria-hidden="true"></i>
                    <br>Egypt Short Stay
                </h1>
                <p><br>
                    <br>Explore Egypt's most impressive sights with our
                    <br> hand-crafted short stays tour packages that
                    <br> include airport transfers, accommodation and
                    <br> guided sightseeing.
                    <br>
                    <br> <input type="button" value="Contact Us" id="t3">
                </p>
            </div>
            <div class="box2">
                <h1><br><i class="fa fa-fighter-jet" aria-hidden="true"></i>
                    <br>Egypt Spiritual Tour
                </h1>
                <p><br>
                    <br>These tours specially tailored to give you the
                    <br>opportunity to enrich your spiritual experience
                    visiting the places of the old and new testament of
                    <br> Islamic heritage.
                    <br>
                    <br> <input type="button" value="Contact Us" id="t3">
                </p>
            </div>
            <div class="box2">
                <h1><br><i class="fa fa-id-card-o" aria-hidden="true"></i>
                    <br>Egypt Shore Excursions
                </h1>
                <p><br>
                    <br>While you are on your Sea cruise stopping at any
                    <br> Egyptian Port for a few hours or overnight, We'll
                    <br> be glad to offer you a variety of our Shore
                    <br> Excursions.
                    <br>
                    <br> <input type="button" value="Contact Us" id="t3">
                </p>
            </div>
        </div>
    </div>
    <div class="mid3">
        <div class="b2">
            <h1>Latest News & Blog</h1>
            <p>This blogpost elaborates on the essential travel tips for Egypt.
                If you are backpacking in Egypt, you will benefit
                from these travel advices.
            </p>
        </div>
        <div class="midrap3">

            <div class="box33">
                <img src="./3.jpg" id="img3">
                <h1>
                    Tips for Family Travel in Egypt
                </h1>
                <p>
                    Family travel in Egypt can be challenging. The country can be messy, both politically and
                    figuratively. Planning a trip to Egypt requires some work. here are a lot of areas of Egypt
                    where
                    it's either not advisable, or not possible to travel without a guide. Like many middle-east
                    countries, the main language in Egypt is Arabic. Most Egyptians speak English as a second
                    language,
                    but it's always a good idea to know some important Arabic words and phrases to help break the
                    ice.
                </p>
            </div>
            <div class="box3">
                <div class="a1">
                    <img src="./4.jpg" id="img4">
                    <h1>
                        Slumber on the Nile</h1>
                    <p>
                        It's the longest river in the world and is
                        the central focus of many myths
                        and legends, which is why
                        spending your time on the Nile River is a must.
                    </p>
                </div>
                <div class="a1">
                    <img src="./5.jpg" id="img5">
                    <h1>
                        Best Time To Visit Egypt</h1>
                    <p>
                        December and January are considered
                        peak season so you'll find long lines at
                        iconic sites, Resort prices also soar
                        during these months.
                    </p>
                </div>

                <div class="a1">
                    <img src="./6.jpg" id="img6">
                    <h1>
                        Visit Abu Simbel</h1>
                    <p>
                        It's located at the very southern part of
                        Egypt and is accessible by a short
                        flight from Aswan but this out-of-the-way
                        tomb is so impressive.
                    </p>
                </div>
                <div class="a1">
                    <img src="./7.jpg" id="img7">
                    <h1>
                        The Valley Kings</h1>
                    <p>
                        The Valley of the Kings is a must see
                        day trip in Egypt, to explore all
                        Egyptian tombs of Seti, Rameses,
                        Tutankhamun and other Egyptian
                        pharaohs.
                    </p>
                </div>

            </div>
        </div>
        <div class="footer">
            <div class="footrap">
                <p>CopyRights 2023 egypt-tours.online. All Rights Reserved</p>
            </div>
        </div>
</body>

</html>